<div class="container">
	<div class="jumbotron">
		<h1>{{success}}</h1>
		<p>You now have: HTML5 Boilerplate, jQuery, Backbone, Marionette, Handlebars, Require, Bootstrap installed.</p>
		<h3>Enjoy coding!</h3>
	</div>
</div>